# Секретные данные
.env

# Базы данных
*.db

# Excel файлы
*.xlsx

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Временные файлы
*.txt
!requirements.txt
!README*.txt
.server_status
*.log

# IDE
.vscode/
.idea/
